# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Netbeans File

./dist/
./build/

*.xml
*.mk
*.properties

*.elf
*.map
*.hex
*.o.d
